* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}/*плавный переход по якорю*/

body {
  font-family: "Montserrat";
}

.center{
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top-desktop{
  position: relative;
  height: 800px;  
  background-image: url(img/fon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}

.star2{
  position: absolute;
  top: 94px;
  left: 64px;
  z-index: -1;
}

.star3{
  position: absolute;
  top: 70px;
  left: 156px;
  z-index: -1;
}

.star4{
  position: absolute;
  bottom: 149px;
  right: 344px;
  z-index: -1;
}

.star5{
  position: absolute;
  bottom: 225px;
  right: 455px;
  z-index: -1;
}

.big{
  position: absolute;
//   right:-480px;
//   top: -334px;
    bottom: 3px;
    right: -488px;
    z-index: -1;
}

.head{
  max-width: 769px;
  padding-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
}

.head__top{
  color: rgba(32, 32, 39, 1);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-bottom: 24px;
}

.head__text{
  color: rgba(32, 32, 39, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 720px;
}

.head__button{
  display: inline-block;  
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid rgba(32, 32, 39, 1);
  border-radius: 60px;
  background: rgba(32, 32, 39, 1);
  width: 247px;
  height: 66px;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  padding: 16px;
  margin-top: 48px;
  transition: all 0.7s;
}

.head__button:hover{
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1); 
    cursor: url(img/cursor.svg) 10 10, pointer;
}

.games{
    position: relative;
    height: 1470px;  
    background-color:rgba(32, 32, 39, 1);
    overflow: hidden;
    z-index: 0;
}

.star11{
    position: absolute;
    top: 770px;
    left: 25px;
    z-index: -1;
}

.star12{
    position: absolute;
    top: 822px;
    left: 40px;
    z-index: -1;
}

.star1{
    position: absolute;
    bottom: 744px;
    right: -143px;
    z-index: -1;
}

.games__about{
    max-width: 1201px;
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

.games__about-title{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
}

.games__about-text{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    max-width: 788px;
}

.games__items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 72px;
}

.games__items-1{
    width: 378px;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    grid-column: span 4;
    text-decoration: none;
    transition: all 0.7s;
}

.games__items-1:hover{
    transform: scale(1.1);
    cursor: url(img/cursor.svg) 10 10, pointer;
}

.games__items-t{
    max-width: 314px;
    padding: 32px;
    padding-bottom: 36px;
}
.games__items-par{
    max-width: 112px;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.games__items-text{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-top: 16px;
}

